

body {
   background-image: url("../img/soil.jpg");
   color: white;
}
a{
	text-decoration: none;
}



.logo {
    width: 200px;
    background-color: transparent;
}


}
.navbar ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    width: 200px;

}

.navbar li {
    float: left;
    list-style-type: none;
     margin: 10px,10px;
}

.navbar li a {
    display: block;
    color: #F5F2B8;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;


}
li a:hover {
    background-color: #3D2909;
    color: white;
    border-radius: 8px;
}
.dropdown-menu{
  background-color: #3D2909;
  border-radius: 10px;
}
.dropdpwn-menu :hover {
    background-color: #3D2909;
    color: white;
    border-radius: 8px;}
h1 {
    color: #F5F2B8;
    text-align: center;
}

p {
    font-family: tahoma, Arial;
    font-size: 20px;
}

footer {
  margin-left: 0;
  bottom: 0;
  padding-top: 10px;
  width: 100%;

  text-decoration: none;
  color: #F5F2B8; 
  background-image: url("../img/gravel.jpg");
  background-repeat:no-repeat;
  background-size: 100%;
  position: absolute;
  float: left;
  border-top: 2px groove white;
}


.form-inline{
  text-align: center;
}
.slider{
  width: 90%;
  padding-left: 8%;
  margin-top: 3%;
  margin-bottom: 5%;
}

.dumptruckh3{
  
}

.soilimg{
  width: 25%;
  border:8px groove #427034;
margin-left: 5px;
margin-right: 5px;

}


.pop{
  width: 80%;
  margin: 10%;
}

.modal-title {
  color: white;
}
.modal-body p{
  color: white;
}

.popupbutton{
  text-decoration: :none;
  color: white;
}
.modal-content{
  background-color: #111111;
}


.soilimgdiv{
  width: 98%;
  margin:5px 5px 5px 20px;
  display: inline-block;
}

.soilimgdiv2{
  width:98%;
  margin:5px 5px 100px 20px;
  display: inline-block;
}
.soilimgdiv3{
  width:98%;
  margin:110px 5px 5px 20px;
  display: inline-block;

}
.name{
  display: inline-block;
}
.contactform{
  text-align: center;
  width: 50%;
  margin-top: 10px;
  z-index: 3;

}
.form-inline{
  width: 80%;
  height: 450px;
background-image:url("../img/company.jpg");
 overflow: hidden;
  margin-top:100px;
  margin-left: 35px;
  z-index: 3;
}
footer{
position: fixed;
bottom: 0;
margin-top: 100px;
}
footer a{
	color: white;
	
}
footer p{
	margin-left: 15px;
}
footer ul{
	list-style-type: none;
	
}
footer ul li{
	display: inline-block;
	margin-left: 10%;
}
